@import "css/layout.css";

@import "css/header.css";
@import "css/map.css";
@import "css/tooltip.css";
@import "css/table.css";
@import "css/ui.css";
@import "css/legend.css";
@import "css/modal.css";

:root {
  --text: #000;
  --text-secondary: #7d7d7d;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

main {
  position: relative;
  flex: 1;
}

.logo {
  height: 34px;
}

svg text {
  font-size: 11px;
  line-height: 1;
  fill: #7d7d7d;
}
