.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  padding: 16px 24px;
  min-height: 64px;
  flex: 0;
  align-items: flex-start;
  justify-content: flex-end;
}

.header > .button {
  position: absolute;
  left: 16px;
  top: 16px;
}
.header > .button svg {
  width: 16px;
  height: 16px;
}

@media (max-width: 480px) {
  .header > .button {
    left: auto;
    right: 16px;
    padding: 5px;
  }
  .header > .button span {
    display: none;
  }
  .header > .button svg {
    width: 24px;
    height: 24px;
  }
}

.header__controls {
  align-items: flex-end;
}

@media (max-width: 480px) {
  .header {
    justify-content: center;
  }
  .header__title {
    display: none;
  }
  .header__controls {
    align-items: center;
  }
}

@media (min-width: 960px) {
  .header {
    justify-content: center;
  }
  .header__controls {
    align-items: center;
  }
}
