.flow {
  --flow-margin: 1em;
  display: flex;
}
.flow > * + * {
  margin: 0;
  margin-left: var(--flow-margin);
}
.stack {
  --stack-margin: 1em;
  display: flex;
  flex-direction: column;
}
.stack > * + * {
  margin: 0;
  margin-top: var(--stack-margin);
}

@media (max-width: 600px) {
  .xs-flow {
    --flow-margin: 1em;
    display: flex;
  }
  .xs-flow > * + * {
    margin: 0;
    margin-left: var(--flow-margin);
  }
  .xs-stack {
    --stack-margin: 1em;
    display: flex;
    flex-direction: column;
  }
  .xs-stack > * + * {
    margin: 0;
    margin-top: var(--stack-margin);
  }
}

@media (max-width: 768px) {
  .sm-flow {
    --flow-margin: 1em;
    display: flex;
  }
  .sm-flow > * + * {
    margin: 0;
    margin-left: var(--flow-margin);
  }
  .sm-stack {
    --stack-margin: 1em;
    display: flex;
    flex-direction: column;
  }
  .sm-stack > * + * {
    margin: 0;
    margin-top: var(--stack-margin);
  }
}

@media (max-width: 960px) {
  .md-flow {
    --flow-margin: 1em;
    display: flex;
  }
  .md-flow > * + * {
    margin: 0;
    margin-left: var(--flow-margin);
  }
  .md-stack {
    --stack-margin: 1em;
    display: flex;
    flex-direction: column;
  }
  .md-stack > * + * {
    margin: 0;
    margin-top: var(--stack-margin);
  }
}
