.legend {
  position: absolute;
  right: 24px;
  bottom: 32px;
  width: auto;
}

.legend__title {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.legend__circle-key circle {
  fill: rgba(255, 0, 0, 0.2);
  stroke-width: 1;
  stroke: rgba(255, 0, 0, 0.3);
}

.legend__circle-key path {
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 1;
  stroke-dasharray: 3 3;
}

.legend__circle-key text {
  fill: #000;
  font-size: 12px;
}

.legend__circle-key .circle--zero {
  stroke: #999;
  fill: #fff;
}

.legend__circle-key .circle--unavailable {
  stroke: transparent;
  fill: #999;
}

@media (min-width: 1400px) {
  .legend {
    top: 16px;
    bottom: auto;
  }
}
