.table {
  border-collapse: collapse;
}

.table__row {
}

.table__cell {
  border-bottom: 1px solid #eee;
  padding: 2px 8px 2px 2px;
  margin: 0;
}
th.table__cell {
  border-bottom-color: #ccc;
}

.table__cell--number {
  text-align: right;
}
