.tooltip {
  font-size: 10px;
  width: 220px;
}

.tooltip__header > * {
  --stack-margin: 4px;
}

.tooltip__title {
  font-size: 1.4em;
  margin: 0;
  line-height: 1.1;
  text-transform: capitalize;
}

.tooltip__subtitle {
  font-size: 1.2em;
  margin: 0;
  line-height: 1.2;
  font-weight: normal;
  text-transform: capitalize;
  color: var(--text-secondary);
}

.tooltip__list {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tooltip__table {
  width: 100%;
  table-layout: fixed;
  font-size: 1.1em;
  color: var(--text-secondary);
}

.tooltip.active--res .group--residents,
.tooltip.active--stf .group--staff,
.tooltip.active--tot .group--total {
  background: rgba(0, 0, 0, 0.0333);
}
.tooltip.active--confirmed .type--confirmed,
.tooltip.active--deaths .type--deaths,
.tooltip.active--tested .type--tested,
.tooltip.active--recovered .type--recovered {
  background: rgba(0, 0, 0, 0.0333);
}

/** bold label **/
.tooltip.active--confirmed .type--confirmed .table__cell:first-child,
.tooltip.active--deaths .type--deaths .table__cell:first-child,
.tooltip.active--tested .type--tested .table__cell:first-child,
.tooltip.active--recovered .type--recovered .table__cell:first-child,
.tooltip.active--res th.table__cell.group--residents,
.tooltip.active--stf th.table__cell.group--staff,
.tooltip.active--tot th.table__cell.group--total {
  color: var(--text);
  font-weight: bold;
}

/** current value */
.tooltip.active--confirmed.active--res .type--confirmed .group--residents,
.tooltip.active--confirmed.active--stf .type--confirmed .group--staff,
.tooltip.active--confirmed.active--tot .type--confirmed .group--total,
.tooltip.active--deaths.active--res .type--deaths .group--residents,
.tooltip.active--deaths.active--stf .type--deaths .group--staff,
.tooltip.active--deaths.active--tot .type--deaths .group--total,
.tooltip.active--tested.active--res .type--tested .group--residents,
.tooltip.active--tested.active--stf .type--tested .group--staff,
.tooltip.active--tested.active--tot .type--tested .group--total,
.tooltip.active--recovered.active--res .type--recovered .group--residents,
.tooltip.active--recovered.active--stf .type--recovered .group--staff,
.tooltip.active--recovered.active--tot .type--recovered .group--total {
  color: var(--text);
  font-weight: bold;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

.tooltip__table.table .table__cell--number {
  width: 40px;
}

.tooltip__footer p {
  margin: 0;
  line-height: 1.42;
  font-size: 1.1em;
  color: var(--text-secondary);
}
